@import "tailwindcss";
@theme {
    --color-primary: #262626;
    --color-lightText: #6D6D6D;
    --color-destructive: #b91c1c;
}
@layer components{
    .hoverEffect{
        @apply duration-300 ease-in-out
    }
}